SetEnv APPLICATION_ENV development
<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule  ^$ public/    [L]
    RewriteRule  ^test/(.*) test/$1 [L]
    RewriteRule  ^Demo/(.*) Demo/$1 [L]
    RewriteRule  (.*) public/$1 [L]
</IfModule>