/*  start HTML tags */

body{
	margin:0 auto 32px;
	font-family: ;
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif !important;
	line-height:18px;
}

input, select{

	border-radius:5px;
	padding:8px 10px;
	font-size:14px;
	color:#666;
	border: 1px solid #ccc;
	width: 90%;
	
}

label{
	font-size:12px;
	color:#ccc;	
	
}

hr{
	border:none;
	border-bottom:1px solid #EEEEEE;
}



a{
	text-decoration:none;
	
}

.header{
	padding:12px 0;
	height:26px;
	box-shadow:0px 0px 8px #333;
	position:fixed;
	width:100%;
	display:block;
	background-color: #fff;
	top:0px;
	z-index:100;
	
}


/*  end HTML tags */


/* start product */

.product-title{
	color: #333;
	font-weight: bold;
}

.product-brand{
	color:#CCCCCC;
	font-size:12px;
	
}

.product-info{
	color:#999;
}



.ribbon-price{
	background-color: #fc9538;
	font-size: 20px;
	color:#fff;
	height: 40px;
	text-align:center;
	line-height:40px;
	font-weight:bold;	
	position:relative;
	width:86%;
	margin: 0 auto;
}

.ribbon-left{
	position:absolute;
	width:40px;
	height: 40px;
	-ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
	background-color:#fff;
	left:-14px;
}

.ribbon-right{
	position:absolute;
	width:40px;
	height: 40px;
	-ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
	background-color:#fff;
	right:-14px;
}

.product-price-usually{
	text-decoration: line-through;
	color: #666;
	margin:0 15px;
}

.product-price-now{
	margin:0 15px;
}

.product-title{
	
}

.product-image{

	margin-top:54px;
}

.product-statistics ul{
	list-style:none;
	margin:0px auto;
	padding:0px;
	opacity: 0.4;
	
}

.product-statistics li{
	width:25%;
	text-align:center;
	font-size: 12px;
	color:	#000;
	line-height:14px;
	height: 64px;
}



/* end product */




/* start buttons */

.btn-back{
	width:26px;
	height:26px;
	background: url('../img/graphics/back.png') center center no-repeat;
	display:block;	
	margin:0 10px;	
	
}

.btn-bookmark{
	width:26px;
	height:26px;
	background:#54c096 url('../img/graphics/bookmark.png') center center no-repeat;
	display:block;
	margin:0 10px;
	border-radius: 26px;
}

.btn-share{
	width:26px;
	height:26px;
	background:#54c096 url('../img/graphics/share.png') center center no-repeat;
	display:block;
	margin:0 10px;
	border-radius: 26px;
}

.btn-comment{
	width:26px;
	height:26px;
	background:#54c096 url('../img/graphics/comment.png') center center no-repeat;
	display:block;
	margin:0 10px;
	border-radius: 26px;
}

.btn-heart{
	width:26px;
	height:26px;
	background:#54c096 url('../img/graphics/heart.png') center center no-repeat;
	display:block;
	margin:0 10px;
	border-radius: 26px;
}

.btn-more{
	color:#54c096;
	font-size:14px;
	cursor: pointer;
}

.btn-direction{
	text-align: center;
	font-size:15px;
	color:#54c096;
	border: 1px solid	#54c096;
	border-radius: 20px;
	width:38%;
	padding: 6px 15px;
	
}

.btn-buy{
	text-align: center;
	font-size:15px;
	color:#fff;
	border: 1px solid	#54c096;
	border-radius: 20px;
	width:38%;
	padding: 6px 15px;
	background-color: #54c096;
	
}


.btn-large-buy{

	text-align: center;
	font-size:15px;
	color:#fff;	
	border-radius: 5px;
	width:100%;
	padding: 10px 15px;
	background-color: #54c096;
	text-transform:uppercase;
	display: block;
	
}


/* end buttons */


/* start payment */


.payment-slide{
	background-color: #FFFFFF;
	position:fixed;
	width:100%;
	bottom:0px;
	z-index:2000;
	
}

.payment-slide ul{
	list-style:none;
	margin:0px auto;
	padding:0px;
	
	
}

.payment-slide li{	
	
	float: left;	
		
}

.quantity-col {

	font-size: 24px ;
	width:30%;
	padding:8px 0 ;
	
}

.price-col{

	font-size: 24px ;
	width:20%;
	line-height:24px;
	color: #54c096;
	padding:8px 0 ;
	
}

.symbol-col{

	width:14%;
	font-size: 18px ;
	line-height:28px;
	font-weight: bold;
	color:#999;
	text-align:center !important;
	padding:8px 0 ;
}


.total-col{

	font-size: 24px ;
	width:20%;
	line-height:24px;
	color:#54c096;
	padding:8px 0 ;

}

.month-col{
	width:40%;
}


.year-col{
	width:34%;
}

.code-col{
	width:18%;
}


.payment-title-col{

	padding:8px 0 16px;
	width:60%;
	font-size: 18px;
	
}

.credit-card-col{

	padding:8px 0 16px;
	width:30%;

}

.payment-form li{

	height:72px;
}

.card-number-col{
	width:100%;
}

.buy-now-col {
	width:88%;
}


/* end payment */



/* start elements */

.card{
	margin: 0 auto;
	padding:15px;
	
}

.responsive-photo{
	width:100%;
}

.disabled{
	opacity: 1;
	background-color:#ccc;
	
	
}

.hide{
	display: none;
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}

.clear{
	clear:both;
}
.bg-fade{
	background-color:#333;
	opacity:0.5;
	width:0%;
	height:100%;
	position:fixed;
	z-index:1000;
	top:0px;
}

/* end elements */