/*  start HTML tags */

body{
	margin:0 auto 32px;
	font-family: ;
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif !important;
	line-height:18px;
}

ul{
	list-style:none;
	margin:0px;
	padding:0px;
}

input, select{

	border-radius:5px;
	padding:8px 14px;
	font-size:14px;
	color:#666;
	border: 1px solid #ccc;
	width: 90%;
	
}

h1,h2,h3,h4,h5,h6{

	width:100%;
	color:#fff;
	margin: 15px;
	font-weight:normal;
	
}

label{
	font-size:11px;
	color:#ccc;	
	
}

hr{
	border:none;
	border-bottom:1px solid #EEEEEE;
}



a{
	text-decoration:none;
	
}





/*  end HTML tags */


/* start product */

.product-title{
	color: #333;
	font-weight: bold;
}

.product-brand{
	color:#CCCCCC;
	font-size:12px;
	
}

.product-info{
	color:#999;
}



.ribbon-price{
	background-color: #fc9538;
	font-size: 20px;
	color:#fff;
	height: 40px;
	text-align:center;
	line-height:40px;
	font-weight:bold;	
	position:relative;
	width:86%;
	margin: 0 auto;
}

.ribbon-left{
	position:absolute;
	width:40px;
	height: 40px;
	-ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
	background-color:#fff;
	left:-14px;
}

.ribbon-right{
	position:absolute;
	width:40px;
	height: 40px;
	-ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
	background-color:#fff;
	right:-14px;
}

.product-price-usually{
	text-decoration: line-through;
	color: #666;
	margin:0 15px;
}

.product-price-now{
	margin:0 15px;
}

.product-price{
	color: #fc9538;
	font-size:18px;
	font-weight:bold;
}

.product-title{
	
}

.product-image{

	margin-top:54px;
}

.product-statistics ul{
	list-style:none;
	margin:0px auto;
	padding:0px;
	opacity: 0.4;
	
}

.product-statistics li{
	width:25%;
	text-align:center;
	font-size: 12px;
	color:	#000;
	line-height:14px;
	height: 64px;
}



/* end product */




/* start buttons */

.btn-back{
	width:26px;
	height:26px;
	background: url('../img/graphics/back.png') center center no-repeat;
	display:block;	
	margin:0 10px;	
	
}

.btn-bookmark{
	width:26px;
	height:26px;
	background:#54c096 url('../img/graphics/bookmark.png') center center no-repeat;
	display:block;
	margin:0 10px;
	border-radius: 26px;
}

.btn-share{
	width:26px;
	height:26px;
	background:#54c096 url('../img/graphics/share.png') center center no-repeat;
	display:block;
	margin:0 10px;
	border-radius: 26px;
}

.btn-comment{
	width:26px;
	height:26px;
	background:#54c096 url('../img/graphics/comment.png') center center no-repeat;
	display:block;
	margin:0 10px;
	border-radius: 26px;
}

.btn-heart{
	width:26px;
	height:26px;
	background:#54c096 url('../img/graphics/heart.png') center center no-repeat;
	display:block;
	margin:0 10px;
	border-radius: 26px;
}

.btn-more{
	color:#54c096;
	font-size:14px;
	cursor: pointer;
}

.btn-direction{
	text-align: center;
	font-size:15px;
	color:#54c096;
	border: 1px solid	#54c096;
	border-radius: 20px;
	width:38%;
	padding: 6px 15px;
	
}

.btn-buy{
	text-align: center;
	font-size:15px;
	color:#fff;
	border: 1px solid	#54c096;
	border-radius: 20px;
	width:38%;
	padding: 6px 15px;
	background-color: #54c096;
	
}


.btn-large-buy{

	text-align: center;
	font-size:15px;
	color:#fff;	
	border-radius: 5px;	
	padding: 10px 0;
	background-color: #54c096;
	text-transform:uppercase;
	display: block;
	width:100%;
	
}


.btn-board{
	text-align: center;
	font-size:15px;
	color: #54c096;
	border: 1px solid	#ddd;
	border-radius: 10px;
	width:38%;
	padding: 10px 5px 5px;
	background-color: #fff;
	position:fixed;
	bottom: 60px;
	height:40px;
	line-height:40px;
}

.btn-board-col{
	width:38%;
	padding: 10px 5px 5px;
	background-color: #fff;
	border: 1px solid	#ddd;
	position:fixed;
	bottom: 30px;
	height:15px;
	width:1px;
	left:90px;

}


/* end buttons */


/* start payment */


.payment-slide{
	background-color: #FFFFFF;
	position:fixed;
	width:100%;
	bottom:0px;
	z-index:2000;
	
}

.payment-slide ul{
	list-style:none;
	margin:0px auto;
	padding:0px;
	
	
}

.payment-slide li{	
	
	float: left;	
		
}

.payment-form li{

	height:70px;
	
}

.quantity-col {

	font-size: 24px ;
	width:30%;
	padding:8px 0 ;
	
}

.price-col{

	font-size: 24px ;
	width:20%;
	line-height:24px;
	color: #54c096;
	padding:8px 0 ;
	
}

.symbol-col{

	width:14%;
	font-size: 18px ;
	line-height:28px;
	font-weight: bold;
	color:#999;
	text-align:center !important;
	padding:8px 0 ;
}


.total-col{

	font-size: 24px ;
	width:20%;
	line-height:24px;
	color:#54c096;
	padding:8px 0 ;

}

.month-col{
	width:40%;
}


.year-col{
	width:34%;
}

.code-col{
	width:18%;
}


.payment-title-col{

	padding:8px 0 16px;
	width:60%;
	font-size: 18px;
	
}

.credit-card-col{

	padding:8px 0 16px;
	width:30%;

}


.card-number-col{
	width:100%;
}

.buy-now-col {
	width:100%;
}


/* end payment */


/* start list product*/

.product-photo-col{
	width:120px;
	padding-top: 10px;
	
}


.product-info-col{
	width:50%;
	margin-left: 15px;
	padding-top: 25px;
}


/* end list product*/


/* start layout and elements */

.shout-box{
	
	margin:15px;	
	background-color: #fff;
	width:auto;
	height:100%;
}

.shout-box-mask-top{
	height: 30px;
	background-color: #fff;
	position:fixed;
	top: 0px;
	width:100%;
}

.shout-box-mask-bottom{
	height: 160px;
	background-color: #fff;
	position:fixed;
	bottom: 0px;
	width:100%;
}


.shout-box-header{
	border-radius: 10px 10px 0 0;
	height: 100px;
	background-color: #54c096;
	padding:5px 0 15px;
	position:fixed;
	top: 15px;
	width:92%;
}

.shout-box-footer{
	border-radius:0 0 10px 10px;
	height: 0px;
	background-color: #54c096;
	padding:15px 0 0px;
	position:fixed;
	bottom: 145px;
	width:92%;
	
}

.shout-box-arrow{
	position:fixed;
	width:20px;
	height: 20px;
	-ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
	background-color:#fff;
	right:20%;
	bottom: 135px;
	background-color: #54c096;
}


.shout-box-body{
	margin-top: 140px;


}

.mozo-icon{
	position:fixed;
	width:130px;
	height: 95px;
	background: url('../img/graphics/buddy_promo.png') center center no-repeat;
	display:block;	
	bottom: 20px;
	right:20px;
}


.header{
	padding:12px 0;
	height:26px;
	box-shadow:0px 0px 8px #333;
	position:fixed;
	width:100%;
	display:block;
	background-color: #fff;
	top:0px;
	z-index:100;
	
}


.card{
	margin: 0 auto;
	padding:15px;
	
}

.responsive-photo{
	width:100%;
}

.disabled{
	opacity: 1;
	background-color:#ccc;
	
	
}

.hide{
	display: none;
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}

.clear{
	clear:both;
}
.bg-fade{
	background-color:#333;
	opacity:0.5;
	width:0%;
	height:100%;
	position:fixed;
	z-index:1000;
	top:0px;
}

/* end layout and elements */